.felsoSzoveg {
    font-weight: 700;
    font-family: sans-serif;
    color: white;
}
.cim  {
    font-size: 40px;
}
.torzs {
    font-size: 19px;
}
.kozepsoSor  {
    color: white;
}
.kepCim {
    font-size: 30px;
}